beautifulsoup4==4.12.3
frozendict==2.4.4
graphviz==0.20.3
matplotlib==3.9.2
pillow==10.4.0
psutil==6.0.0
pytest==8.3.2
PyYAML==6.0.2
requests==2.32.3
requests-cache==1.2.1
roa-checker==3.0.2
tqdm==4.66.5
yamlable==1.1.1
