git+https://github.com/jfuruness/lib_caida_collector.git#65daee2120c6165a90914e1fe9c17930b6ca0477
graphviz==0.19.2
matplotlib==3.5.1
pytest==7.1.1
PyYAML==6.0
tqdm==4.64.0
yamlable==1.0.4
types-requests==2.27.16
pytest-cov==3.0.0
mypy==0.910
flake8==4.0.1
tox==3.24.4
pytest-xdist==2.5.0
pytest==7.1.1
